.Label {
    width: 23vw;
    height: 5vh;    
}

.LabelText {
    margin: 0;
    padding: 0;
    font-size: 3vh;
    height: 5vh;
    background-color: blueviolet;
    color: white;
    width: 100%;
    padding-left: 1vw;
}

.LabelText:hover {
    cursor: pointer;
}

.Icon {
    float: left;
    margin: 0 1vh;
    margin-top: 1vh;
}

@media screen and (max-width: 600px) {
    .Label {
        width: 100%;
    }
}