.Box {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    background-color: #B0B0B0;
}

.Current:hover, .Box:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.Current {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    background-color: white;
}

.FirstRow, .SecondRow {
    width: 100%;
    height: 7vh;
    float: left;
}

.LeftBox, .RightBox {
    float: left;
    width: 50%;
    height: 7vh;
}

.ColorBox {
    float: left;
    width: 50%;
    height: 5vh;
    background-color: green;
    outline: 1px solid black;
}

.Number {
    font-size: 5vh;
}

.Active {
    color: blue;
    font-size: 5vh;
}

@media screen and (max-width: 400px) {
    .Number {
        font-size: 4vh;
        margin-top: 1vh;
        color: black;
    }

    .Active {
        margin-top: 1vh;
        font-size: 4vh;
    }

    .LeftBox {
        display: none;
    }

    .FirstRow {
        height: 8vh;
    }

    .SecondRow {
        height: 6vh;
    }

    .RightBox {
        margin-left: 0.4vh;
        margin-top: 0.5vh;
        text-align: center;
        width: 100%;
        height: 7vh;
    }
}