.TodoLabels {
    width: 20vw;
    outline: 1px solid black;
    float: left;
    height: 49vh;
    margin-top: 1vh;
    margin-left: 3vh;
}

@media screen and (max-width: 400px) {
    .TodoLabels {
        width: 85vw;
        margin-left: 0;
        height: auto;
    }
}