.TodoLabels {
    width: 23vw;
    outline: 1px solid black;
    float: left;
    height: 49vh;
    margin-top: 1vh;
    margin-left: 3vh;
}

@media screen and (max-width: 600px) {
    .TodoLabels {
        width: 95%;
        margin-left: 0;
        height: auto;
    }
}