.MonthBox {
    width: 20%;
    margin: 0 2.5%;
    height: 29vh;
    float: left;
    outline: 1px solid black;
}

@media screen and (max-width: 400px) {
    .MonthBox {
        width: 45%;
        margin: 2% 2%;
    }
}