.DayBox {
    width: 13%;
    height: 4.2vh;
    float: left;
    border: 1px solid black;
    margin-top: 0.3vh;
    margin-left: 1.1%;
    border-radius: 7px;
}

.DayBox:hover {
    cursor: pointer;
}

.Popover {
    position: absolute;
    z-index: 100;
    width: 20vh;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: -5vh;
    font-size: 3vh;
    border-radius: 10px;
    padding: 2px 0;
    margin-left: -3.5%;
}