.Todo {
    width: 85vw;
    height: 8vh;
    border-radius: 5px;
    margin-top: 1vh;
    cursor: pointer;
    user-select: none;
}

.TodoText {
    overflow-x: hidden;
    width: 70vw;
    height: 8vh;
    font-size: 5vh;
    color: white;
    padding-left: 2vh;
    float: left;
}

.Icon {
    float: right;
    font-size: 5vh;
    margin-top: 1.5vh;
    color: white;
    margin-right: 3vh;
}

.TodoDescription {
    width: 85vw;
    background-color: lightgray;
    font-size: 4vh;
    padding: 1vh;
    border-radius: 5px;
}

.Icon:hover {
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .TodoText {
        width: 60vw;
    }
}