.Calendar {
    width: 70vw;
    margin-top: 1vh;
    margin-left: 5vw;
    height: 90vh;
    user-select: none;
    float: left;
}

@media screen and (max-width: 400px) {
    .Calendar {
        width: 95%;
        margin: 1vh 2.5%;
    }
}