.TodoContainer {
    width: 100vw;
    margin: auto;
    height: 93vh;
    text-align: center;
    overflow-x: hidden;
}

.CurrentDate {
    font-size: 5vh;
    margin: 0;
}

.TodoSection {
    width: 90vw;
    margin-top: 2vh;
    margin-left: 5vw;
    text-align: left;
}

.TodoSectionText {
    font-size: 5vh; 
}

.Add {
    font-size: 4.5vh;
    margin-left: 3vh;
    color: gray;
}

.Add:hover {
    color: black;
    cursor: pointer;
}

.Form {
    width: 90vw;
    float: left;
    margin-bottom: 2vh;
}

.NoTodos {
    text-align: center;
}

.Todos {
    float: left;
}

@media screen and (max-width: 400px) {
    .TodoContainer {
        width: 95%;
    }
}