.TodoContainer {
    width: 100vw;
    margin: auto;
    height: 93vh;
    text-align: center;
    overflow-x: hidden;
}

.CurrentDate {
    font-size: 5vh;
    margin: 0;
}

@media screen and (max-width: 400px) {
    .TodoContainer {
        width: 95%;
    }
}