.TodoContainer {
    width: 80%;
    margin: auto;
    height: 93vh;
    text-align: center;
}

.CurrentDate {
    font-size: 5vh;
    margin: 0;
}

.TodoSection {
    width: 100%;
    margin-top: 2vh;
    text-align: left;
}

.TodoSectionText {
    font-size: 5vh; 
}

.Todo {
    width: 100%;
    background-color: lightgray;
    border-radius: 5px;
    height: 8vh;
}

.TodoText {
    width: 70%;
    font-size: 5vh;
    margin:0;
    padding: 0;
    height: 8vh;
    padding-left: 2vh;
    float: left;
}

.CheckBox {
    margin: -1vh 1vh;
    float: right;
    user-select: none;
    font-size: 6vh;
}

.CheckBox:hover {
    cursor: pointer;
    color: blue;
}